body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4a4a4a;
  }
  
  .container {
    text-align: center;
  }
  
  
  input[type="range"] {
    width: 100%;
    max-width: 400px;
    position: absolute;
    margin-top: 703px;
  }
.start {
  position: absolute;
  margin-top: 600px;
}

.stop{
  position: absolute;
  margin-top: 600px;
  margin-left: 100px;
}

  .p-cont{
    padding: 2%;
    font-size:1.2rem;
    position: absolute;
    color:#000000;
  }
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #FFD700, #FFA500);
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
    border-radius: 5px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #FF4500;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #FF4500;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #FF4500;
    border-radius: 50%;
    cursor: pointer;
  }